SerbianEnglishDictionary/SerbianEnglishDictionary.Communication/Messages/Xsds/Response.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:rr="http://localhost/ReceiveEntityService/responseResult"
           targetNamespace="http://localhost/ReceiveEntityService/"
           elementFormDefault="qualified">
	<xs:import namespace="http://localhost/ReceiveEntityService/responseResult" schemaLocation="ResponseResult.xsd"/>
	
	<xs:element name = "Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "Result" type="rr:ResponseResult"/>
				<xs:element name = "Description" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
